[Desktop Entry]
Encoding=UTF-8
Exec=/run/media/tkiatd/Shared/AppImage/Bitwarden-1.17.1-x86_64.AppImage
Name=Bitwarden
Terminal=false
Type=Application
