[Desktop Entry]
Encoding=UTF-8
Exec=/run/media/tkiatd/Shared/AppImage/LibreOffice-fresh.full-x86_64.AppImage
Name=LibreOffice
Terminal=false
Type=Application
